.login-menu {
    height: 805px;
    margin-top: 0%;
    margin-left: -1%;
    padding: 2%;
    border-radius: 7px;
    margin-bottom: 0%;
}

.login-menu div {
    height: 874px;
    width: 355px;
    margin-top: -5%;
    margin-left: -6%;
    margin-bottom: 0%;
    padding: 2%;
    border-radius: 7px;
}

.logomenu{
    height: 5.4%;
    display: flex;
    padding: 10px;
    margin-left: 0px;
    margin-top: 1%;
}

.nomelogomenu{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 17px;
    margin-top: -13%;
    margin-left: 18%;
    letter-spacing: 0.5px;
}

h5{
    font-family: "Roboto";
    font-weight: normal;
    font-size: 18px;
    margin-left: 6%;
    margin-top: 10%;
    color: rgba(0, 0, 0, 0.455);
    letter-spacing: 0.5px;
}

.overview{
    height: 5.6%;
    width: 370px;
    display: flex;
    border: none;
    align-items: center;
    padding-left: 10%;
    background: none;
    font-size: 17px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    margin-top: -0.5rem;
    margin-left: 0%;
    letter-spacing: 0.5px;
    text-decoration: none;
}

#overviewimg{
    height: 77%;
    padding-top: 0%;
    margin-top: 0rem;
    margin-left: -0.7rem;
    justify-content: center;
    display: flex;
    padding-right: 0rem;
}

.overview:hover{
    transition: .25s;
    border: none;
    margin-left: 3px;
}

.candidato{
    height: 5.6%;
    width: 334px;
    display: flex;
    border: none;
    align-items: center;
    padding-left: 10%;
    background: none;
    font-size: 17px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 1.4rem;
    margin-left: 0%;
    letter-spacing: 0.5px;
    text-decoration: none;
}

#candidatoimg{
    height: 56%;
    padding-top: 0%;
    margin-top: 0rem;
    margin-left: -0.5rem;
    justify-content: center;
    display: flex;
    padding-right: 0.5rem;
}

.candidato:hover{
    transition: .25s;
    border: none;
    margin-left: 3px;
}

.revisar{
    height: 5.6%;
    width: 334px;
    display: flex;
    border: none;
    align-items: center;
    padding-left: 10%;
    background: none;
    font-size: 17px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 1.4rem;
    margin-left: 0%;
    letter-spacing: 0.5px;
    text-decoration: none;
}

#revisarimg{
    height: 51%;
    padding-top: 0%;
    margin-top: 0rem;
    margin-left: -0.3rem;
    justify-content: center;
    display: flex;
    padding-right: 0.5rem;
}

.revisar:hover{
    transition: .25s;
    border: none;
    margin-left: 3px;
}

.vagas{
    height: 5.6%;
    width: 334px;
    display: flex;
    border: none;
    align-items: center;
    padding-left: 10%;
    background: none;
    font-size: 17px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 1.4rem;
    margin-left: 0%;
    letter-spacing: 0.5px;
    text-decoration: none;
}

#vagasimg{
    height: 53%;
    padding-top: 0%;
    margin-top: 0rem;
    margin-left: -0.3rem;
    justify-content: center;
    display: flex;
    padding-right: 0.5rem;
}

.vagas:hover{
    transition: .25s;
    border: none;
    margin-left: 3px;
}

.configuracao{
    height: 5.6%;
    width: 370px;
    display: flex;
    border: none;
    align-items: center;
    padding-left: 10%;
    background: none;
    font-size: 17px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 1.4rem;
    margin-left: 0%;
    letter-spacing: 0.5px;
    text-decoration: none;
}

#configuracaoimg{
    height: 51%;
    padding-top: 0%;
    margin-top: 0rem;
    margin-left: -0.4rem;
    justify-content: center;
    display: flex;
    padding-right: 0.5rem;
}

.configuracao:hover{
    transition: .25s;
    border: none;
    margin-left: 3px;
}

.criarvagas{
    height: 5.6%;
    width: 370px;
    display: flex;
    border: none;
    align-items: center;
    padding-left: 10%;
    background: none;
    font-size: 17px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 1rem;
    margin-left: 7%;
    letter-spacing: 0.5px;
    text-decoration: none;
}

#criarvagasimg{
    height: 52%;
    padding-top: 0%;
    margin-top: 0rem;
    margin-left: -0.4rem;
    justify-content: center;
    display: flex;
    padding-right: 0.5rem;
}

.criarvagas:hover{
    transition: .25s;
    border: none;
    margin-left: 28px;
}

.objetivo{
    height: 5.6%;
    width: 370px;
    display: flex;
    border: none;
    align-items: center;
    padding-left: 10%;
    background: none;
    font-size: 17px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 1rem;
    margin-left: 7%;
    letter-spacing: 0.5px;
    text-decoration: none;
}

#objetivoimg{
    height: 49%;
    padding-top: 0%;
    margin-top: 0rem;
    margin-left: -0.4rem;
    justify-content: center;
    display: flex;
    padding-right: 0.5rem;
}

.objetivo:hover{
    transition: .25s;
    border: none;
    margin-left: 28px;
}

.adicionarcandidatos{
    height: 5.6%;
    width: 370px;
    display: flex;
    border: none;
    align-items: center;
    padding-left: 10%;
    background: none;
    font-size: 17px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 1rem;
    margin-left: 7%;
    letter-spacing: 0.5px;
    text-decoration: none;
}

#adicionarcandidatosimg{
    height: 49%;
    padding-top: 0%;
    margin-top: 0rem;
    margin-left: -0.4rem;
    justify-content: center;
    display: flex;
    padding-right: 0.5rem;
}

.adicionarcandidatos:hover{
    transition: .25s;
    border: none;
    margin-left: 28px;
}

.perfilusuario{
    margin-top: 1.5rem;
    margin-bottom: 3.5rem;
}

.perfil{
    height: 7%;
    width: 370px;
    display: flex;
    border: none;
    align-items: center;
    padding-left: 10%;
    background: none;
    font-size: 17px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    margin-top: -0.5rem;
    margin-left: -2%;
    letter-spacing: 0.5px;
    text-decoration: none;
}

#perfilimg{
    height: 80%;
    padding-top: 0%;
    margin-top: -4.5rem;
    margin-left: -0.4rem;
    justify-content: center;
    display: flex;
    padding-right: 0.5rem;
}

.perfil:hover{
    transition: .25s;
    border: none;
    margin-left: -4px;
}

.sair{
    height: 5.5%;
    width: 282px;
    display: flex;
    border: none;
    border-radius: 7px;
    align-items: center;
    padding-left: 10%;
    background: rgba(231, 231, 231, 0.618);;
    font-size: 17px;
    font-weight: bold;
    color: #774dd0;
    margin-top: -1rem;
    margin-left: 5%;
    letter-spacing: 0.5px;
    text-decoration: none;
}

#sairimg{
    height: 50%;
    padding-top: 0%;
    margin-top: 0rem;
    margin-left: 5rem;
    justify-content: center;
    display: flex;
    padding-right: 0.5rem;
    color: #774dd0;
}

.sair:hover{
    background: rgba(231, 231, 231, 0.918);
    color: #774dd0;
    transition: .25s;
}


hr {
    width: 270px;
    height: 0px;
    margin-top: 21.5px;
}