.form{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.actions{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 5px;
}

#create-link{
    margin: 30px auto 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}