.candidato-list {
    max-width: 1190px;
    list-style: none;
    margin-top: 1%;
    background-color: #ffffff;
    margin-left: 14%;
}

#titulocandidatos{
    color: #9a90b1;
    margin-top: 3%;
    margin-left: 14%;
    font-size: 25px;
}

.VisualizarCandidatos .slider{
    margin-left: 14%;
}

table{
    width: 90%;
    margin: 1%;
    border-bottom: 1.5px solid rgba(231, 231, 231, 1.18);
}

thead {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.455);
    letter-spacing: 0.5px;
    
}

th{
    text-align: start;
    border-bottom: 1.5px solid rgba(231, 231, 231, 1.18);
}

td {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.700);
    line-height: 24px;
    text-align: start;
    font-family: "Roboto";
}

.buttoneditar {
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    width: 108px;
    margin-top: 8%;
    margin-bottom: 8%;
    border-radius: 7px;
    border: none;
    background: rgba(231, 231, 231, 0.618);
    color: #774dd0;
    font-size: 16.3px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-decoration: none;
    display: inline;
    transition: all 0.2s;
}

.buttoneditar:hover {
    background: rgba(231, 231, 231, 0.918);
    color: #774dd0c8;
    transition: .25s;
    margin-right: 1px;
}

#status td{
    height: 25px;
    width: 90px;
    border-radius: 5px;
    text-align: center;
    background: rgba(227, 57, 57, 0.1);
    color: rgb(208, 52, 52);
    font-weight: bold;
    font-size: 15.5px;
}

#status{
    margin-top: 9%;
}

.actions {
    display: block;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}