.candidato-list {
    max-width: 1110px;
    list-style: none;
    margin-top: 1%;
    background-color: #ffffff;
    margin-left: 23.5%;
}

#titulocandidatos{
    width: 250px;
    color: #9a90b1;
    margin-top: 3%;
    margin-left: 23.2%;
    margin-bottom: 2.3%;
    font-size: 25px;
}

.VisualizarCandidatos .slider{
    margin-left: 23.5%;
}

#tituloscontainerr{
    color: rgba(0, 0, 0, 0.6);
    font-weight: normal;
    font-size: 19px;
    margin: 1%;
    margin-left: 23.5%;
    margin-bottom: 1%;
}

#listandoCandidato{
    margin: 0%;
}

h6{
    font-size: x-large;
    font-family: "Roboto";
    font-size: 22px;
    margin-left: 23.5%;
    margin-bottom: 1%;
    margin-top: 3.5%;
    color: rgba(0, 0, 0, 0.455);
    letter-spacing: 0.5px;
}

.buttondeletarcandidato {
    font-family: Arial, Helvetica, sans-serif;
    height: 55px;
    width: 200px;
    margin-top: 1%;
    margin-bottom: 2%;
    border-radius: 7px;
    margin-left: 23.4%;
    border: none;
    background: rgba(231, 231, 231, 0.618);
    color: #774dd0;
    font-size: 16.3px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-decoration: none;
    display: inline;
    transition: all 0.2s;
}

.buttondeletarcandidato:hover {
    background: rgba(231, 231, 231, 0.918);
    color: #774dd0c8;
    transition: .25s;
    margin-right: 1px;
}

.actions {
    display: block;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}