.profile-container-main{
    background-image: url(../Imagens/planodefundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 0px;
    padding-bottom: 945px;
    border: none;
    
}

.profile-container-main::before{
    display: flex;
    mask-repeat: no-repeat;
    align-items: center;
    justify-content: space-evenly;
    
}

.profile-container{
    position: absolute;
    display: flex;
    align-items: center;
    font-family: Arial;
    padding: 10% 0% 0% 35%;
    font-family: Arial, Helvetica, sans-serif;
    
}

.form{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    
}

.profile-container form input{
    width: 450px;
    font-size: 18px;
    display: flex;
    background: white;
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    
}

.buttonvoltar{
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: -5px;
    height: 45px;
    width: 472px;
    border: none;
    border-radius: 5px;
    background: none;
    background-color: rgb(143, 143, 143);
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.7px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.buttonvoltar:hover{
    background: rgb(105, 105, 105);
    color: white;
}

.buttoncriar{
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: -1px;
    height: 45px;
    width: 472px;
    border: none;
    border-radius: 5px;
    background-color: rgb(80, 197, 127);
    margin-top: 10;
    color: white;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.7px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.buttoncriar:hover{
    background: rgb(60, 177, 107);
    color: white;
}

.actions{
    display: flex;
    margin-bottom: 20px;
    padding: 5px;
}

#create-link{
    margin: 30px auto 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}