.vaga-container {
    background-color: #f3f4f8;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-weight: normal;
    color: rgb(53, 53, 53);
    border: none;
    width: 2018px;
    height: 1017px;
    margin-top: -3%;
    margin-left: 0%;
    margin-bottom: 0;
}

.vaga-container form{
    height: 800px;
    width: 1450px;
    margin-top: 4%;
    margin-left: 0%;
    padding: 2%;
    border-radius: 7px;
}

.vaga-container form input {
    width: 532px;
    height: 30px;
    font-size: 18px;
    display: flex;
    border: 0;
    border: 1px solid rgba(0, 0, 0, 0.455);
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 25px;
    margin-top: 0px;
    margin-left: 23.7%;
}

.tituloaba{
    margin-top: 5%;
}

.vaga-container .descricao{
    height: 80px;
}

.vaga-container label {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 2%;
    margin-left: 24.5%;
    font-size: 18px;
    letter-spacing: 0.4px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    color: rgba(0, 0, 0, 0.369);
}

.vaga-container input:focus+label,
.vaga-container input:not(:placeholder-shown)+label {
    font-size: 16px;
    margin-top: 0.1%;
    background-color: white;
    padding: 2px;
    color: #000000;
    letter-spacing: 0.4px;
}

.label-float {
    position: relative;
    padding-top: 13px;
}

.label-float input {
    border: 0;
    border-bottom: 2px solid lightgrey;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    border-radius: 0;
}

.buttoncancelar {
    font-family: Arial, Helvetica, sans-serif;
    height: 55px;
    width: 210px;
    border-radius: 7px;
    background: rgba(231, 231, 231, 0.618);
    color: #774dd0;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.8px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    margin-left: -14.4%;
}

.buttoncancelar:hover {
    background: rgba(231, 231, 231, 0.918);
    color: #774dd0;
    transition: .25s;
}

.buttonsalvar {
    font-family: Arial, Helvetica, sans-serif;
    height: 55px;
    width: 330px;
    border: none;
    border-radius: 7px;
    background: #7f56da;
    margin-top: 0%;
    margin-bottom: 2%;
    margin-left: -75%;
    color: white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.buttonsalvar:hover {
    background: #774dd0;
    color: white;
    transition: .25s;
}

.actions {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 5px;
}

#create-link {
    margin: 30px auto 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}