.atividaderecente{
    height: 240px;
    width: 400px;
    border: none;
    border-top: 15px solid #9a90b1;
    border-radius: 7px;
    margin-left: 15%;
    margin-top: 3%;
    padding: 1%;
    padding-left: 1%;
    padding-right: -1%;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.15);
}

.candidatosvagaaa{
    height: 140px;
    width: 100px;
    margin-left: -7%;
}

.atividaderecente2{
    height: 100px;
    width: 350px;
    border: 1px solid #9a90b1;
    border-bottom: 40px solid #9a90b1;
    border-radius: 10px;
    margin-left: 6%;
    margin-top: 4%;
    margin-bottom: 0%;
    padding: 0%;
    padding-left: 0%;
    padding-right: 0%;
    display: flex;
}

.atividaderecente2:hover{
    margin-left: 5.5%;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.1);
}

#relogioimg{
    height: 33%;
    margin-left: 7%;
}

#alteradoha{
    width: 150px;
    margin-top: -14%;
    margin-left: 25%;
}

#titulovaga3{
    font-size: 16px;
    width: 180px;
    text-align: start;
    margin-left: 5%;
    color: #9a90b1;
    margin-top: -5%;
    margin-bottom: 7%;
}

.tituloacessar{
    font-size: 18px;
    font-weight: bold;
    margin-left: 77%;
    margin-top: 29%;
    color: white;
    margin-bottom: 0%;
    text-decoration: none;
    display: flex;
}

.tabelacandidatos{
    height: 40px;
    width: 350px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    margin-left: -10%;
}

.tabelacandidatos #candidatoimg{
    margin-top: 2%;
    margin-left: -6%;
}

#tabelanome{
    margin-top: 2.5%;
    font-size: 18px;
    font-weight: normal;
    margin-left: 0%;
}

.tabelastatus{
    width: 90px;
    height: 50px;
    margin-top: 1.8%;
    margin-left: 5%;
    margin-bottom: 2%;
}

.avaliacoespendentes{
    height: 240px;
    width: 400px;
    border: none;
    border-top: 15px solid #9a90b1;
    border-radius: 7px;
    margin-left: 49%;
    margin-top: -20.5%;
    padding: 1%;
    padding-left: 1%;
    padding-right: -1%;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.15);
}

.finalizadosrecentemente{
    height: 240px;
    width: 865px;
    border: none;
    border-top: 15px solid #9a90b1;
    border-radius: 7px;
    margin-left: 15%;
    margin-top: 3%;
    padding: 1%;
    padding-left: 1%;
    padding-right: -1%;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.15);
}

#atividaderecentetitulo{
    width: 350px;
    color: #9a90b1;
    margin-top: 0%;
    margin-left: 0%;
    font-size: 22px;
    text-align: start;
}

#avaliacoespendentestitulo{
    width: 350px;
    color: #9a90b1;
    margin-top: 0%;
    margin-left: 0%;
    font-size: 22px;
    text-align: start;
}

#finalizadosrecentementetitulo{
    width: 350px;
    color: #9a90b1;
    margin-top: 0%;
    margin-left: 0%;
    font-size: 22px;
    text-align: start;
}

.buttonSeeAll{
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    color: #9483b6;
    display: flex;
    margin-top: 7%;
    margin-left: 0%;
    font-weight: bold;
    border-radius: 4px;
    letter-spacing: 0.6px; 
}

.buttonSeeAll:hover{
  
    text-decoration: none;
    color: #9483b6;
    display: flex;
    margin-left: 1%;
    transition: all 0.2s;
}

.buttonSeeAllFinalizados{
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    color: #9483b6;
    display: flex;
    margin-top: 22%;
    margin-left: 0%;
    font-weight: bold;
    border-radius: 4px;
    letter-spacing: 0.6px;
}

.buttonSeeAllFinalizados:hover{
  
    text-decoration: none;
    color: #9483b6;
    display: flex;
    margin-left: 0.5%;
    transition: all 0.2s;
}